* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
}

.landing {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: #ffab41;
  position: relative;
}

.landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  padding: 2vw 1vw 3vw 3vw;
  z-index: 2;
  text-align: left;
}
.landing-head {
  font-size: 4rem;
}

.landing-para {
  font-size: 1.5rem;
}

.cover-woman {
  position: absolute;
  width: 40vw;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: top;
  z-index: 1;
}
/* 
Styling the dresses part */
.dresses-div1,
.dresses-div2 {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}

.dress1,
.dress2,
.dress3 {
  padding: 3vw 3vw 0 3vw;
}

.dress4,
.dress5,
.dress6 {
  padding: 3vw;
}

.dress5 {
  object-position: top;
}

.dress6 {
  object-position: center;
}

.dress1,
.dress2,
.dress3,
.dress4,
.dress5,
.dress6 {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

.explore-button {
  background-color: #fcb642;
  color: #000;
  border-radius: 5px;
  display: inline-block;
  margin: 2vw;
  padding: 2vw;
}

.explore-button:hover {
  background-color: orange;
}

/* Footprint-div styling */
.footprint-div {
  background-color: #fbac49;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.frame {
  margin: 2vw;
  border: 3px solid #fff;
}

.fp-text {
  margin: 15vw 0.5vw 20vw 0.5vw;
}

.fp-head,
.fb-head {
  font-size: 4rem;
}

.fp-para,
.fb-para {
  font-size: 1.5rem;
  padding: 3vw 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-email {
  border-style: none;
}

.fb-text {
  padding: 15vw 3vw 10vw 3vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 3;
  position: relative;
}

.feedback-div {
  position: relative;
  z-index: 1;
}

/* Responsiveness */

@media only screen and (max-width: 768px) {
  .woman-img-div {
    display: none;
  }

  .landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 3vw;
  }
}

/* Background-circles styling */
.bg-circle1,
.bg-circle2,
.bg-circle3 {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #fabc4a;
  position: absolute;
  top: 3vw;
  left: 60vw;
}

.bg-circle2 {
  top: 80%;
  left: 3vw;
}

.bg-circle3 {
  z-index: 2;
  left: 54vw;
  opacity: 0.7;
}
